@charset "utf-8";
* {
  box-sizing: border-box;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}
.clear {
  clear: both;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #efefef;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #34495e;
  text-align: center;
  text-transform: uppercase;
}
div {
  border: solid 2px #34495e;
  border-radius: 30px;
  margin: 25px;
}
header,
section {
  padding: 50px 20px;
}
header {
  background-color: #efefef;
  color: #efefef;
}
header article {
  margin: 150px 0 50px;
  padding: 25px;
}
header a {
  background-image: url(../img/logo.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% - 20px);
  margin: 50px auto;
  padding: 125px;
}
header p {
  border: solid 2px #34495e;
  border-radius: 30px;
  color: #3498db;
  font-size: 14px;
  line-height: 30px;
  padding: 25px;
}
header p span {
  color: #f1c40f;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}
.contact article {
  margin: 10px 25px;
  text-align: center;
  font-size: 14px;
}
.contact article p {
  margin: 25px;
  color: #3498db;
}
.contact article p:nth-of-type(1) {
  text-align: left;
  color: #f1c40f;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 50px;
}
.perso article,
.langage article {
  width: calc(50% - 20px);
  text-align: center;
  margin: 50px 10px;
}
.perso article img,
.langage article img {
  height: 120px;
  background-size: contain;
  background-position: center;
}
.perso article p,
.langage article p {
  display: block;
  font-size: 20px;
  margin-top: 50px;
  color: #f1c40f;
  font-weight: 700;
}
.etudes div,
.exp div {
  padding: 50px;
}
.etudes div article,
.exp div article {
  margin-bottom: 25px;
}
.etudes div article p,
.exp div article p {
  font-size: 14px;
  color: #3498db;
  line-height: 25px;
}
.etudes div article p:nth-of-type(1),
.exp div article p:nth-of-type(1) {
  margin-bottom: 25px;
  color: #f1c40f;
  font-size: 18px;
}
.langage article p {
  text-align: left;
  line-height: 30px;
  padding: 20px;
}
.langage article:nth-last-child(1) {
  width: 100%;
}
/* ------------------------ MEDIA QUERIES ---- */
@media screen and (max-width: valeur px) {
  .center {
    width: 100%;
    margin: 0;
  }
}
