@charset "utf-8";

*{
    box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img { 
	margin: 0;
	padding: 0;
}

img, object, embed, canvas, video, audio, picture, svg {
	max-width: 100%;
	height: auto;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    .logo {
        display: block;
        background-image: url(../img/logo.png);
        height: 100px;
        margin: 30px auto;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 100px 50px;

    }
}